/*--------------------HTMLPage--------------------*/
* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    font-family: "Garamond";
}

h1{
    font-family: "Papyrus";
    font-size: 5.5rem;
    margin-top: 5vh;
}

h2{
    font-family: "Papyrus";
    font-size: 2.25rem;
}

h3{
    font-size: 2rem;
    text-align: center;
}

p{
    font-size: 24px;
    word-wrap: break-word;
}

footer p{
    position: absolute;
    text-align: center;
	font-size: 12px;
    bottom: 2.5vh;
    left: 0;
    right: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    padding: 10px;
}

.details{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 200px;
}

.details span{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.details span img{
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

#charactersList{
    width: 100px;
    font-size: 24px;
    margin: 7.5vh;
}

#aang-appa{
    border: 0px;
	transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    cursor: pointer;
}

#instructions{
    margin-top: 5vh;
}

#characterImg{
    border-radius: 16px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}