* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    height: 100vh;
}

footer {
    background-color: transparent !important;
}

h1 {
    font-family: 'Papyrus';
    font-size: 5.5rem;
}

h2 {
    font-family: 'Papyrus';
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 22px;
    word-wrap: break-word;
}

.columns {
    margin: 0 !important;
}

#aang-appa {
    border: 0px;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    cursor: pointer;
}

#characterImg {
    border-radius: 10px;
}

#characterDetails > .column {
    display: flex;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

@media only screen and (max-width: 768px) {
    html {
        background-image: url('../img/bg.jpg');
        background-repeat: no-repeat;
        background-size: auto;
        height: 100vh;
    }
}
